[submodule "/Users/bobo/bovim/bundle/neobundle.vim"]
	path = /Users/bobo/bovim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "/Users/bobo/bovim/Vundle.vim"]
	path = /Users/bobo/bovim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
